<div class="right-sidebar card">
  <div class="card-header">
    Friends
  </div>
  <div class="card-body">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">
        <img src="path/to/photo1.jpg" alt="Friend 1" class="friend-photo rounded-circle me-2">
        <span class="friend-name">Friend 1</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <img src="path/to/photo2.jpg" alt="Friend 2" class="friend-photo rounded-circle me-2">
        <span class="friend-name">Friend 2</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <img src="path/to/photo3.jpg" alt="Friend 3" class="friend-photo rounded-circle me-2">
        <span class="friend-name">Friend 3</span>
      </a>
    </div>
  </div>
</div>
